@charset "utf-8";

/* 웹폰트 */
/* 노토산스: Use a value from 100 ~ 900 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 노토 세리프: ExtraLight 200, Light 300, Regular 400, Medium 500, SemiBold 600, Bold 700, Black 900 */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap'); */

/* 프리텐다드: 얇은체 100, 매우가는체 200, 가는체 300, 일반체 400, 중간체 500, 세미볼드체 600, 볼드체 700, 엑스트라볼드체 800, 블랙체 900 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

/* 빙그레 */
@import url('https://cdn.jsdelivr.net/npm/fonts-archive-binggrae/Binggrae.css');

/* Preahvihear */
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

/* Roboto */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

/* Roboto Slab */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* icon */
/* @import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

body {
    /* font-family: 'Noto Sans KR', sans-serif; */
    /* font-family: 'Noto Serif KR', serif; */
    font-family: Pretendard, sans-serif;
    /* font-family: "Preahvihear", sans-serif; */

    line-height: 1;
    letter-spacing: unset;
    /* letter-spacing: 자간을 조절해주는 명령어 */
}

em,
address {
    font-style: normal;
}
.hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}